<div class="jumbotron">
  {{#if isEditing}}
    <form class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          {{input value=newName class="form-control" name="name"}}
        </div>
      </div>
      <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
          {{input value=newAge class="form-control" name="age"}}
        </div>
      </div>
      <div class="form-group">
        <label for="company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
          {{input value=newCompany class="form-control" name="company"}}
        </div>
      </div>
      <div class="form-group">
        <label for="about" class="col-sm-2 control-label">About</label>
        <div class="col-sm-10">
          {{textarea value=newAbout class="form-control" name="about"}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-success btn-lg"{{action 'saveChanges' model}}>Save Changes</button>
          <button class="btn btn-default btn-lg"{{action 'discardChanges'}}>Cancel</button>
        </div>
      </div>
    </form>
  {{else}}
    <h3>{{model.name}}</h3>
    <p>
      <strong>Age: </strong> {{model.age}}
    </p>
    <p>
      <strong>Company: </strong> {{model.company}}
    </p>
    <p>
      <strong>Email: </strong> {{model.email}}
    </p>
    <p>
      {{model.about}}
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button" {{action 'editContact' model}}>Edit Contact</a>
      {{#link-to 'contacts'}}Back{{/link-to}}
    </p>
  {{/if}}

</div>
